<nav class="navbar navbar-expand-lg">
    <div class="container w-100">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="#"><img src="/assets/images/logo (2).png" alt="品牌标志"></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="切换导航">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">這些店很熱門</a>
                    <a class="nav-link" href="#">今天想吃什麼?</a>
                    <a class="nav-link" href="#">主題分享</a>
                    <a class="nav-link" href="#">假日怎麼玩?</a>
                    <a class="nav-link" href="#">註冊與登入</a>
                </div>
            </div>
        </div>
    </div>
</nav>  
