<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>contact</title>
</head>

<body>

  <%- include('./layout/header'); -%>
    <div class="contact-banner">
      <div class="container">
        <div class="contact-banner-title">
          <span class="material-symbols-outlined align-bottom">
            location_on
          </span>
          台北大安區
          <h1 class="fs-1 fw-bold mt-2">狗一下居食酒屋 忠孝店</h1>
          <div class="tag d-flex mt-3 gap-2">
            <p>氣氛餐酒館</p>
            <p>日式</p>
            <p>適合聚會</p>
            <p>吃到飽</p>
          </div>
          <div class="banner-icon mt-4">
            <a href="#" class="me-3"><img src="/assets/images/contact/star.png" alt=""></a>
            <a href="#"><img src="/assets/images/contact/Group 10.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="store-information">
      <div class="container">
        <div class="store-information-title">
          <div class="store-information-title-content">
            <h2>店家基本資訊</h2>
            <ul>
              <li><span class="material-symbols-outlined align-middle">
                  schedule
                </span>11:30 ~ 14:30，17:00 ~ 22:30</li>
              <li><span class="material-symbols-outlined align-middle">
                  location_on
                </span>台北市大安區敦化南路一段 190 巷 18 號 <button class="search-store"><span
                    class="material-symbols-outlined align-top">
                    pin_drop
                  </span>搜尋店家</button></li>
              <li><span class="material-symbols-outlined align-middle">
                  paid
                </span>NT$ 900</li>
            </ul>
          </div>
          <div class="reserve">
            <button class="reserve-btn1">電話訂位</button>
            <button class="reserve-btn2">線上訂位</button>
          </div>
        </div>
      </div>
    </div>
    <div class="store-introduction">
      <img class="store-introduction-img" src="/assets/images/contact/popular_1.png" alt="">
      <div class="container">
        <div class="store-introduction-text">
          <h3>東區日式料理吃到飽</h3>
          <p>以道地日式料理聞名，提供 88
            道料理吃到飽，滿足饕客各種味蕾。無論是美味壽司、鮮美刺身，或是經典日式料理，都能盡情享用。寬敞舒適的環境，是和朋友聚餐、家人慶祝，更提供平日限定的超值商業午餐，讓上班族也能享受美味的日式餐點。</p>
          <br>
          <p>店內裝潢充滿日式風格，讓人彷彿置身日本居酒屋，是東區聚餐的首選。</p>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="container">
        <div class="menu-title">
          <h3>店家菜單</h3>
          <p>最後更新：2024.08.26</p>
        </div>
        <ul class="menu-card">
          <li><img src="/assets/images/contact/popular_2.png" alt=""></li>
          <li><img src="/assets/images/contact/popular_3.png" alt=""></li>
          <li><img src="/assets/images/contact/popular_4.png" alt=""></li>
          <li><img src="/assets/images/contact/popular_5.png" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="recommend">
      <div class="container">
        <div class="recommend-title">
          <h3>店家推薦菜色</h3>
          <p>最後更新：2024.08.26</p>
        </div>
        <ul class="recommend-card">
          <li>
            <img src="/assets/images/contact/popular_6.png" alt="">
            <div class="recommend-card-text">
              <h4>照燒雞腿肉</h4>
              <p class="price">NT$ 240</p>
            </div>
          </li>
          <li>
            <img src="/assets/images/contact/popular_6.png" alt="">
            <div class="recommend-card-text">
              <h4>照燒雞腿肉</h4>
              <p class="price">NT$ 240</p>
            </div>
          </li>
          <li>
            <img src="/assets/images/contact/popular_6.png" alt="">
            <div class="recommend-card-text">
              <h4>照燒雞腿肉</h4>
              <p class="price">NT$ 240</p>
            </div>
          </li>
          <li>
            <img src="/assets/images/contact/popular_6.png" alt="">
            <div class="recommend-card-text">
              <h4>照燒雞腿肉</h4>
              <p class="price">NT$ 240</p>
            </div>
          </li>
          <li>
            <img src="/assets/images/contact/popular_6.png" alt="">
            <div class="recommend-card-text">
              <h4>照燒雞腿肉</h4>
              <p class="price">NT$ 240</p>
            </div>
          </li>
          <li>
            <img src="/assets/images/contact/popular_6.png" alt="">
            <div class="recommend-card-text">
              <h4>照燒雞腿肉</h4>
              <p class="price">NT$ 240</p>
            </div>
          </li>
        </ul>
        <button class="recommend-btn">查看更多</button>
      </div>
    </div>
    <div class="other">
      <div class="container">
        <div class="other-title">
          <div class="other-title-lift">
            <h3>其他相似推薦</h3>
            <p>喜歡這間店嗎？下方的店家也很受歡迎！</p>
          </div>
          <div class="other-title-right">
            <a class="other-more" href="#">查看更多</a>
          </div>
        </div>
        <ul class="other-card">
          <li>
            <img class="other-card-img" src="/assets/images/contact/popular_7.png" alt="">
            <div class="other-card-text">
              <h5>大阪燒肉 燒魂</h5>
              <p>東區人氣日式燒肉</p>
            </div>
          </li>
          <li>
            <img class="other-card-img" src="/assets/images/contact/popular_7.png" alt="">
            <div class="other-card-text">
              <h5>大阪燒肉 燒魂</h5>
              <p>東區人氣日式燒肉</p>
            </div>
          </li>
          <li>
            <img class="other-card-img" src="/assets/images/contact/popular_7.png" alt="">
            <div class="other-card-text">
              <h5>大阪燒肉 燒魂</h5>
              <p>東區人氣日式燒肉</p>
            </div>
          </li>
        </ul>
        <div class="border"></div>
      </div>
    </div>
    <div class="eat_play">
      <div class="container">
        <div class="eat_play-title">
          <div class="eat_play-title-lift">
            <h3>有吃有玩看這裡</h3>
            <p>推薦附近景點，輕鬆規劃美好假日！</p>
          </div>
          <div class="eat_play-title-right">
            <a class="eat_play-more" href="#">查看更多</a>
          </div>
        </div>
        <ul class="eat_play-card">
          <li class="eat_play-card-item">
            <img src="/assets/images/contact/holiday image.png" alt="">
            <div class="eat_play-card-text">
              <h5>花蓮景點必去清單</h5>
              <p>花蓮景點除了花蓮太魯閣和花蓮七星潭，還有哪裡好玩？整理 15 個花蓮景點推薦給你</p>
            </div>
          </li>
          <li class="eat_play-card-item">
            <img src="/assets/images/contact/holiday image2.png" alt="">
            <div class="eat_play-card-text">
              <h5>端午節連假旅遊攻略</h5>
              <p>6/8(六) 至 6/10(一) 共 3 天連假，不想浪費今年最後一個連假嗎？快參考本篇推薦端午<br>連假旅遊攻略</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>